<!DOCTYPE html>
<html>
<title>EV Charge Locator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Welcome!
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">EV Charge Locator</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Please Enter Vehicle Info Below</p>
<center>
  <form action="/pageTwo">
    <label>Make:</label>
    <select name = "Make" required>
          <option value="">Make</option>
          <option>Honda</option>
          <option value="tesla">Tesla</option>
          <option value="ford">Ford</option>
          <option value="nissan">Nissan</option>
          <option value="chevy">Chevy</option>
          <option value="other">Other</option>
        </select>
        <br />
        <br />
        <label>Model Size:</label>
        <select name = "Model Size" required>
              <option value="">Model Type</option>
              <option value="compact">Compact Size</option>
              <option value="mid">Mid Size</option>
              <option value="full">Full Size</option>
              <option value="other">Other</option>
            </select>
        <br />
        <br />
        <label>Year:</label>
        <br />
            <input type="number" list="tickmarks" required>
        <br />
        <br />
        <label>Mileage: </label>
        <br />
            <input type="number" list="tickmarks" required>
        <br />
        <br />
    <center>
        <input type="submit" value="Submit">
    </center>
  </form>
</center>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
  </div>
</div>

</body>
</html>
