<html>
<!--Data Base-->
<select class="Audi" name="Audi">
  <option>A3 Plug In</option>
</select>

<select class="BMW" name="BMW">
  <option>Active E</option>
  <option>i3</option>
  <option>i8</option>
  <option>X8</option>
  <option>3 Series</option>
  <option>5 Series</option>
  <option>7 Series</option>
</select>

<select class="Cad" name="Cadillac">
  <option>CT6</option>
  <option>ELR</option>
  <option>Bolt</option>
  <option>Spark</option>
  <option>Volt</option>
</select>

<select class="Chrysler" name="Chrysler">
  <option>Pacifica</option>
</select>

<select class="Fiat" name="Fiat">
  <option>500E</option>
</select>

<select class="Ford" name="Ford">
  <option>C-MAX</option>
  <option>Focus EV</option>
  <option>Fusion Energi</option>
</select>

<select class="Honda" name="Honda">
  <option>Accord</option>
  <option>Clarity</option>
  <option>Clarity Plug-in</option>
  <option>Fit EV</option>
</select>

<select class="Hyundai" name="Hyundai">
  <option>Sonata Plug-in</option>
  <option>Ioniq EV</option>
</select>

<select class="Kia" name="Kia">
  <option>Optima Plug-in</option>
    <option>Soul</option>
</select>

<select class="Mercedes" name="Mercedes">
  <option>B-Class Electric</option>
  <option>C350We Plug-in</option>
  <option>GLE 550e</option>
  <option>S550 Plug In</option>
</select>

<select class="Mini Cooper" name="Mini Cooper">
  <option>Cooper Countryman Plug In</option>
</select>

<select class="Mitsubishi" name="Mitsubishi">
  <option>i-Mi</option>
</select>

<select class="Nissan" name="Nissan">
  <option>LEAF</option>
</select>

<select class="Porsche" name="Porsche">
  <option>Cayenne S</option>
  <option>Panamera S</option>
</select>

<select class="Smart" name="Smart">
  <option>ED</option>
  <option>for Two</option>
</select>

<select class="Tesla" name="Tesla">
  <option>Model 3</option>
  <option>Model S</option>
  <option>Model X</option>
</select>

<select class="Toyota" name="Toyota">
  <option>Prius Prime</option>
  <option>RAV4</option>
</select>

<select class="Volvo" name="Volvo">
  <option>S90 Plug In</option>
  <option>XC60</option>
  <option>XC90</option>
</select>

<select class="Volkswagen" name="Volkswagen">
  <option>e-Golf</option>
</select>


</html>
