input[type=text] {
    -webkit-transition: width 5s ease-in-out;
    transition: width 5s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=text]:focus {
    border: 3px solid #555;
}
