input[type=text] {
    -webkit-transition: width 5s ease-in-out;
    transition: width 5s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=text]:focus {
    border: 3px solid #555;
}
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/images/landpic.JPG');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
